# AliExpress Open Platform (openservice.aliexpress.com)
# Get app_key and app_secret from your app in the console.

app_key=528150
app_secret=Md17pKIrfFrgPjg7hvdcPgvRtTIxBgGX

# Redirect URI configured in your app settings (for OAuth callback)
REDIRECT_URI=https://openmarket-backend-phi.vercel.app/api/callback

# One-time auth code from user authorization (only for get-access-token)
# After getting tokens, you use access_token and refresh_token instead.
AUTH_CODE=

# After running get-access-token, copy the returned values here:
access_token=
refresh_token=




# https://api-sg.aliexpress.com/oauth/authorize?response_type=code&force_auth=true&redirect_uri=https%3A%2F%2Fopenmarket-backend-phi.vercel.app%2Fapi%2Fcallback&client_id=528150


# https://openmarket-backend-phi.vercel.app/api/callback?code=3_528150_3zHCjC3ix2bobMtto9xIY3Q31584
